{extends file="skeleton.htm"} 
{block name="contenu"}
<div id="content" class="span10"> <!-- start: Content -->
	<div>
		<hr>
		<ul class="breadcrumb">
			<li>
				<a href="index.php">Accuiel</a> <span class="divider">|</span>
			</li>
		</ul>
		<hr>
	</div>
	<!-- debut block  paramètres -->
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2><i class="icon-user"></i><span class="break"></span>Choix :
				</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="icon-remove"></i></a>
				</div>
			</div>

			<div class="box-content">
		        <div class="sortable row-fluid ui-sortable">
		        	<a class="quick-button ">
		        	<form method="POST" class="form-inline" action="index.php?page=acceuil">

						<label class="inline" style="width:20px;"></label>
		        		<label class="checkbox inline span2" for="policiers">
							   <input type="checkbox" name="policiers" id="policiers" {if $c1 eq '1'}checked{/if}> Les policiers
						</label>
						<label class="checkbox inline span2" for="pompiers">
							   <input type="checkbox" name="pompiers" id="pompiers"{if $c2 eq '1'}checked{/if}> Les pompiers
						</label>
						<label class="checkbox inline span2" for="commissariats">
							   <input type="checkbox" name="commissariats" id="commissariats"{if $c3 eq '1'}checked{/if}> Coumissariats
						</label> 
		        		   <label class="checkbox inline span2" for="hopitals">
							   <input type="checkbox" name="hopitals" id="hopitals" {if $c4 eq '1'}checked{/if}> Les hopitaux
						</label>
						<label class="checkbox inline span2" for="new_alertes">
							   <input type="checkbox" name="alertes_en_cours" id="alertes_en_cours" {if $c6 eq '1'}checked{/if}> Nouvelles Alertes
						</label>
						<label class="checkbox inline span2" for="alertes_en_cours">
							   <input type="checkbox" name="alertes_en_cours" id="alertes_en_cours" {if $c6 eq '1'}checked{/if}> Les alertes en cours
						</label>
						<br><br>		        		
		        		<button type="submit" name="envoyer" id="envoyer" value="Envoyer" class="btn btn-primary " style="float left"> Enregistrer les nouveaux paramétres </button>
		        		<br>
		        	</form>
		        	</a>
		        </div>
			</div>
		</div>
	</div>
	<!-- debut block  paramètres -->
	<!--   debut block map-->
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div data-original-title="" class="box-header">
				<h2><i class="icon-edit"></i><span class="break"></span>Map</h2>
				<div class="box-icon">
					<a class="btn-setting" href="#"><i class="icon-wrench"></i></a>
					<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
					<a class="btn-close" href="#"><i class="icon-remove"></i></a>
				</div>
			</div>
		<div class="box-content">
			<div class="sortable row-fluid ui-sortable">
				<a class="quick-button ">
					<div id="carte" style="width:100%; height:700px"></div>
				</a>
			</div>
			
		</div>
		</div><!--/span-->
	</div>
	<!--   Fin block map-->
	<!--   debut block affichage agent-->
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div data-original-title="" class="box-header">
				<h2><i class="icon-edit"></i><span class="break"></span>Affichage :</h2>
				<div class="box-icon">
					<a class="btn-setting" href="#"><i class="icon-wrench"></i></a>
					<a class="btn-minimize" href="#"><i class="icon-chevron-up"></i></a>
					<a class="btn-close" href="#"><i class="icon-remove"></i></a>
				</div>
			</div>
		<div class="box-content">
			<div class="sortable row-fluid ui-sortable">
				<div id="zone_affichage">
				
			</div>
			</div>
			
		</div>
		</div><!--/span-->
	</div>
	<!--   fin block affichage agent-->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
function initialiser_map() {
    //var latlng = new google.maps.LsatLng(46.779231, 6.659431);
    var latlng = new google.maps.LatLng(31.630218,-8.015999);
    //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
    //de définir des options d'affichage de notre carte
    var options = {
        center: latlng,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    //constructeur de la carte qui prend en paramêtre le conteneur HTML
    //dans lequel la carte doit s'afficher et les options
    var carte = new google.maps.Map(document.getElementById("carte"), options);

    // Les policiers
    {foreach $policiers as $policier}
	var marqueur_policier{$policier->getId()} = new google.maps.Marker({
		position: new google.maps.LatLng({$policier->getLastx()},{$policier->getLasty()}),
		map: carte,
		draggable: true,
		icon: "./web/img/icons_map/policier.png"
	});
	google.maps.event.addListener(marqueur_policier{$policier->getId()}, 'click', function() {
        //alert("Policier");
        $('#zone_affichage').html('<div class="quick-button span10">'+
					'<table class="table table-striped"><thead>'+
						'<tr><th class="red">Nom :</th><th>{$policier->getNom()}</th></tr>'+
						'<tr><th class="red">Prénom :</th><th>{$policier->getPrenom()}</th></tr>'+
						'<tr><th class="red">Téléphone :</th><th>{$policier->getTel()}</th></tr>'+
					'</thead></table>'+			
				'</div>'+
				'<div class="quick-button span2 avatar_police">'+
					'<a href="#">'+
						'<img  alt="Policier" src="./web/img/avatar/policier.png">'+
					'</a>'+
					'<p class="red">Policier </p>'+
				'</div>');
        
    });
	{/foreach}

	// Les Pompiers :
	{foreach $pompiers as $pompier}
	var marqueur_pompier{$pompier->getId()} = new google.maps.Marker({
		position: new google.maps.LatLng({$pompier->getLastx()},{$pompier->getLasty()}),
		map: carte,
		draggable: true,
		icon: "./web/img/icons_map/pompier.png"
	});
	google.maps.event.addListener(marqueur_pompier{$pompier->getId()}, 'click', function() {
		$('#zone_affichage').html('<div class="quick-button span10">'+
					'<table class="table table-striped"><thead>'+
						'<tr><th class="red">Nom :</th><th>{$pompier->getNom()}</th></tr>'+
						'<tr><th class="red">Prénom :</th><th>{$pompier->getPrenom()}</th></tr>'+
						'<tr><th class="red">Téléphone :</th><th>{$pompier->getTel()}</th></tr>'+
					'</thead></table>'+			
				'</div>'+
				'<div class="quick-button span2 avatar_police">'+
					'<a href="#">'+
						'<img  alt="Pompier" src="./web/img/avatar/pompier.png">'+
					'</a>'+
					'<p class="red">Pompier </p>'+
				'</div>');
    });
	{/foreach}

	// Les Commissariats :
	{foreach $commissariats as $commissariat}
	var marqueur_commissariat{$commissariat->getId()} = new google.maps.Marker({
		position: new google.maps.LatLng({$commissariat->getX()},{$commissariat->getY()}),
		map: carte,
		draggable: true,
		icon: "./web/img/icons_map/commissariat.png"
	});
	google.maps.event.addListener(marqueur_commissariat{$commissariat->getId()}, 'click', function() {
		$('#zone_affichage').html('<div class="quick-button span10">'+
					'<table class="table table-striped"><thead>'+
						'<tr><th class="red">Designation :</th><th>{$commissariat->getDesignation()}</th></tr>'+
						'<tr><th class="red">Adresse :</th><th>{$commissariat->getAdress()}</th></tr>'+
					'</thead></table>'+			
				'</div>'+
				'<div class="quick-button span2 avatar_police">'+
					'<a href="#">'+
						'<img  alt="Commissariat" src="./web/img/avatar/commissariat.png">'+
					'</a>'+
					'<p class="red">Commissariat </p>'+
				'</div>');
    });
	{/foreach}

	// Les Hopitals :
	{foreach $hopitals as $hopital}
	var marqueur_hopital{$hopital->getId()} = new google.maps.Marker({
		position: new google.maps.LatLng({$hopital->getX()},{$hopital->getY()}),
		map: carte,
		draggable: true,
		icon: "./web/img/icons_map/hopital.png"
	});
	google.maps.event.addListener(marqueur_hopital{$hopital->getId()}, 'click', function() {
		$('#zone_affichage').html('<div class="quick-button span10">'+
					'<table class="table table-striped"><thead>'+
						'<tr><th class="red">Designation :</th><th>{$hopital->getDesignation()}</th></tr>'+
						'<tr><th class="red">Adresse :</th><th>{$hopital->getAdresse()}</th></tr>'+
					'</thead></table>'+			
				'</div>'+
				'<div class="quick-button span2 avatar_police">'+
					'<a href="#">'+
						'<img  alt="Hopital" src="./web/img/avatar/hopital.png">'+
					'</a>'+
					'<p class="red">Hopital </p>'+
				'</div>');
    });
	{/foreach}

	// Les new Alertes :
	{foreach $new_alertes as $alerte}
	var marqueur_alerte{$alerte->getId()} = new google.maps.Marker({
		position: new google.maps.LatLng({$alerte->getX()},{$alerte->getY()}),
		map: carte,
		draggable: true,
		icon: "./web/img/icons_map/new_alerte.png"
	});
	google.maps.event.addListener(marqueur_alerte{$alerte->getId()}, 'click', function() {
		$('#zone_affichage').html('<div class="quick-button span10">'+
					'<table class="table table-striped"><thead>'+
						'<tr><th class="red">Date :</th><th>{$alerte->getDate()}</th></tr>'+
						'<tr><th class="red">Description :</th><th>{$alerte->getDescription()}</th></tr>'+
						'<tr><th class="red">Etat :</th><th>{if $alerte->getEtat() eq "a"}En Attente{else}En Cours{/if}</th></tr>'+
						'<tr><th class="red">Nature Lanceur :</th><th>{if $alerte->getNature() eq "v"}Victime{else}Témoin{/if}</th></tr>'+
					'</thead></table>'+			
				'</div>'+
				'<div class="quick-button span2 avatar_police">'+
					'<a href="#">'+
						'<img  alt="alerte" src="./web/img/avatar/alerte.png">'+
					'</a>'+
					'<p class="red">Alerte </p>'+
				'</div>');
    });
	{/foreach}

	// Les Alertes en cours :
	{foreach $alertes_en_cours as $alerte}
	var marqueur_alerte{$alerte->getId()} = new google.maps.Marker({
		position: new google.maps.LatLng({$alerte->getX()},{$alerte->getY()}),
		map: carte,
		draggable: true,
		icon: "./web/img/icons_map/alerte_en_cours.png"
	});
	google.maps.event.addListener(marqueur_alerte{$alerte->getId()}, 'click', function() {
        $('#zone_affichage').html('<div class="quick-button span10">'+
					'<table class="table table-striped"><thead>'+
						'<tr><th class="red">Date :</th><th>{$alerte->getDate()}</th></tr>'+
						'<tr><th class="red">Description :</th><th>{$alerte->getDescription()}</th></tr>'+
						'<tr><th class="red">Etat :</th><th>{if $alerte->getEtat() eq "a"}En Attente{else}En Cours{/if}</th></tr>'+
						'<tr><th class="red">Nature Lanceur :</th><th>{if $alerte->getNature() eq "v"}Victime{else}Témoin{/if}</th></tr>'+
					'</thead></table>'+			
				'</div>'+
				'<div class="quick-button span2 avatar_police">'+
					'<a href="#">'+
						'<img  alt="alerte" src="./web/img/avatar/alerte.png">'+
					'</a>'+
					'<p class="red">Alerte </p>'+
				'</div>');
    });
	{/foreach}
}
</script>
{/block}