


{include 'head.htm'}

<body>
	 	<div class="container-fluid">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box">
					<p><img alt="Tableau de bord Wide Team" src="web/img/install.png.png" /></p>
					
					<h2>Installation Terminée avec succée</h2>
					
					<p>
						<h2>Veuillez. <a href="index.php">cliquer ici </a> pour passer au paneau de configuration de l'applicaion.</h2> 
					</p>	
				</div><!--/span-->
			</div><!--/row-->
			
				</div><!--/fluid-row-->
				
	</div><!--/.fluid-container-->
		
	{include 'javascript.htm'}
	
	
</body>
</html>